@using CustomerCrm.Core.Models
@model EmployeeModel
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@Model.PhotoPath" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
        <p class="card-text">@Model.Title | @Model.BirthDate</p>
    </div>
</div>